<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>DeadStorm</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script type="text/javascript">
		var user="{{request.user}}"
		
		function getToken(name) {
		    let cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        const cookies = document.cookie.split(';');
		        for (let i = 0; i < cookies.length; i++) {
		            const cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
			const csrftoken = getToken('csrftoken');

		function getCookie(name){
			var cookieArr=document.cookie.split(';')
			for( var i =0;i<cookieArr.length;i++){
				var cookiePair=cookieArr[i].split("=");
				if (name==cookiePair[0].trim()){
					return decodeURIComponent(cookiePair[1]);
				}
			}
		return null;
		}

	var cart=JSON.parse(getCookie('cart'))
	if (cart== undefined){
		cart={}
		console.log('cart was created')	
		document.cookie='cart='+JSON.stringify(cart)+";domain=;path/"
	}

	console.log('cart:',cart)
	{}
	
	
	</script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" >
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href="{% url 'store' %}" style="font-family:verdana;" >DeadStorm</a>
	  

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link " href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'store' %}">Offer Section <span class="sr-only">(current)</span></a>
	      </li>
	    </ul>
	  
	   
	  <div class="form-inline my-2 my-lg-0" id="navclass">
	  	{% if user.is_authenticated %}
	  		<a href="{% url 'logout' %}"class="btn navbar-fixed-top" style="color:white"  >Logout</a>
	  	{% else %}
     		<a href="{% url 'login' %}"class="btn navbar-fixed-top"  style="color:white" >Login / Register</a>
     	{% endif %}
     	<a href="{% url 'cart' %}">
    		<img  id="cart-icon" src="{% static 'images/6+cart.png' %}">
    	</a>
    	<p id="cart-total">{{CartItems}}</p>
       </div>
       </div>
 	
	</nav>
	       

	         <div class="container">
	                <br>
			        {% if messages %}
			            {% for message in messages %}
				            <div class="alert alert-{{ message.tags }}">
				               {{ message }}
				            </div>
			            {% endfor %}
		            {% endif %}
	                {% block content %}


	                 {% endblock content %}
	         </div>

<br>
<footer class="site-footer ">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Welcome to DeadStorm.com, your number one source for all things & product ie: shoes, bags, dog treats. We're dedicated to giving you the very best service, with a focus on three characteristics, ie: dependability, customer service and uniqueness. DeadStorm was Founded in 2020 by Rushikesh Tummod and his team, We at DeadStorm are thrilled to be a part of the quirky, eco-friendly, fair trade wing of the e-commerce industry.

We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              
              <li><a href="http://scanfcode.com/category/java-programming-language/">Electronics</a></li>
              <li><a href="http://scanfcode.com/category/android/">Grocery</a></li>
              <li><a href="http://scanfcode.com/category/templates/">Fashion</a></li>
              <li><a href="http://scanfcode.com/category/android/">Codes</a></li>
              <li><a href="http://scanfcode.com/category/templates/">Phone</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">About Us</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">DeadStorm</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>



	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>

